<div class="main-content">
  <div class="container-fluid">



    <div class="row">
      <div class="col-md-12">
        <app-employees-list></app-employees-list>
      </div>
    </div>



    <!-- <div class="row">
      <div class="col-md-8" margin="auto"></div>
      <app-test-table></app-test-table>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-8" margin="auto">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Employés Présents</p>
            <h3 class="card-title">
              {{ totalPresence }}/{{ totalEmployees }}
              <small>Employés</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a href="javascript:void(0)"
                >Ce nombre de présents n'est pas encore à prendre en compte, il
                ne sera correct qu'après connection de toutes les pointeuse
                <i
                  >Reparque: il n'y a que deux sites qui sont actuelement
                  connectés les autres seront ajoutés en fur et à mesure</i
                ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div> -->

     <!-- <div class="row">
      <div class="col-md-12">
        <app-employee-attendence
          idd="25"
          from="{{ today }}"
          to="{{ nextday }}"
        ></app-employee-attendence>
      </div>
    </div>  -->
  </div>
</div>
